@model TaskAssessor.Models.HourInterval
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<h1>@Model.Job.Name</h1>
<ul>
    <li>@Model.TimeStarted</li>
    <li>@Model.TimeEnded</li>
    <li>@Model.TotalTime</li>
    <li>@Model.Description</li>
</ul>
